# Variables d'environnement
.env
.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local
docker-compose.yml

# Clés AWS
*.pem
*.key
aws-credentials

# Fichiers de configuration sensibles
.aws/
config.json
secrets.json
workflown8n.json
